.list {
    margin-top: 10px;
    width: 100%;
  }
  .btn btn-primary {
   margin-left:  20px;
  }

  .m-input{
    margin-right: 15px;
  }

  .line-through{
    text-decoration: line-through;
    color: gray;
  }